.upload-btn {
  cursor: pointer;
  right: 2%;
  position: relative;
  text-align: right;
}
.upload-btn:hover {
  text-decoration: underline;
}
#file-detail-modal .modal-body .image-detail {
  width: 100%;
  overflow: auto;
  text-align: center;
}
#file-detail-modal .modal-body .text-detail {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
#file-detail-modal .modal-title {
  display: inline;
}
#file-detail-modal .operation {
  float: right;
  position: relative;
  right: 2%;
  line-height: 19px;
}
.file-list .filename:hover {
  cursor: pointer;
  text-decoration: underline;
}
.file-list td:first:hover {
  cursor: pointer;
  text-decoration: underline;
}
.file-list .file-row:hover .operation {
  opacity: 1 !important;
}