.layout{
	width: 80%;
	height: 100%;
	margin:0px auto;
	margin-top:41px;
	position:relative;
}
.footer{
	margin-top:100px;
	font-family:"Times New Roman","DFKai-sb";
	color:#000000;
	clear:both;
	text-align:center;
}
#nav ul {
    display: inline-block;
    list-style-type: none;
}
