.layout{
	width: 80%;
	height: 100%;
	margin:0px auto;
	padding-top: 50px;
	margin-top:41px;
	position:relative;
  font-family: Lato,sans-serif;
}
.footer{
	position: fixed;
	font-family: Lato,sans-serif, "Times New Roman","DFKai-sb";
	color: #000000;
	clear: both;
	text-align: center;
	bottom: 0px;
	width: 100%;
}
#nav ul {
    display: inline-block;
    list-style-type: none;
}
