img.thumb {
  width: 32px;
  height: 32px;
  margin-right: 11px;
  background-color: transparent;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.web_sprite {
  background-image: url('/rbox/application/assets/images/web_sprites.png');
  width: 32px;
  height: 32px;
  margin-top: -2px;
  margin-right: 11px;
  margin-left: -1px;
  overflow: hidden;
  background-color: transparent;
}
.web_sprite_s {
  background-image: url('/rbox/application/assets/images/web_sprites.png');
  width: 19px;
  height: 19px;
  margin-top: -2px;
  margin-right: 1px;
  margin-left: -1px;
  overflow: hidden;
  background-color: transparent;
}
.sprite_code {
  background-position: left -1502px;
}
.sprite_pdf {
  background-position: left -1434px;
}
.sprite_text {
  background-position: left -2216px;
}
.sprite_white {
  background-position: left -1400px;
}
.sprite_delete {
  background-position: left -9541px;
}
.sprite_download {
  background-position: left -9562px;
}
.sprite_upload {
  background-position: left -10785px;
}